[Unit]
Description=FRP Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/opt/frp/frpc -c /opt/frp/ccs2plus-6010.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
